body {
  background-color: #B7B7B7;
  min-height: 100vh;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #FCAEAE;
  padding: 15px;
}
.link {
  padding: 10px 35px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
.link:hover {
  background-color: #FF8989;
  cursor: pointer;
}
.allProducts {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 220px;
  height: 220px;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  margin: 30px 15px;
  width: 270px;
  height: 320px;
  background-color: #FFC5C5;
  transition: transform 2s;
}
img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.title {
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.btn-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #FFC5C5;
  padding: 10px;
  margin: 10px;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
}
.btn:hover {
  background-color: #FF8989;
  cursor: pointer;
}
.container {
  margin-top: 50px;
}
.text {
  padding: 10px 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FCAEAE;
  opacity: 0.7;
  margin-left: 2%;
  margin-bottom: 50px;
  width: 55%;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h2 {
  font-size: 18px;
  margin-top: 5px;
}
.price {
  font-size: 13px;
  margin-top: 5px;
}
.audio {
  margin-left: 20%;
  margin-top: 3%
}
.btn-music {
  background-color: #FFC5C5;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border: 2px solid #FF8989;
  border-radius: 20px;
}
.btn-music:hover {
  background-color: #FF8989;
  cursor: pointer;
}
.answer-container {
  margin: 3% 10% 10% 10%;
  display: flex;
  justify-content: center;
}
.text-areaAnswer {
  width: 600px;
  height: 250px;
  border: 2px solid #FFC5C5;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.title-answer, .title-contact {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-size: 18px;
}
.text-answer {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.btn-answer {
  background-color: #FFC5C5;
  padding: 12px;
  width: 80px;
  border: none;
}
.direction {
  width: 40px;
  height: 40px;
}
.btn-submit {
  background-color: #FFC5C5;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border: none;
}
.btn-answer:hover, .btn-submit:hover {
  background-color: #FF8989;
  cursor: pointer;
}
form {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
input {
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border: 2px solid #FFC5C5;
  cursor: pointer;
}
textarea {
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 2px solid #FFC5C5;
  margin-bottom: 20px;
  cursor: pointer;
}
.contact {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 15px;
  background-color: #FFC5C5;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  color: #FF8989;
  padding: 15px;
}
.goToInsta {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media all and (max-width: 810px) {
  nav {
    padding: 5px;
  }
  .link {
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding: 10px 40px;
  }
  .container {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .btn {
    margin: 5px;
    width: 100px;
    font-size: 14px;
    text-align: center;
  }
  .text {
    margin: auto;
    width: 75%;
    height: 80%;
  }
  img {
    width: 280px;
    height: 240px;
  }
  .product-card {
    margin: 20px 30px;
    width: 300px;
    height: 350px;
  }
  .answer-container {
    margin: 5% 10% 10% 10%;
    display: flex;
    justify-content: center;
  }
  .text-areaAnswer {
    height: 300px;
  }
  .title-answer, .title-contact {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 18px;
  }
  .text-answer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  .btn-answer {
    width: 100px;
    font-size: 18px;
  }
  .audio {
    margin-left: 10%;
    margin-top: 5%;
  }
  form {
    margin-top: 15%;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .link {
    font-size: 14px;
    padding: 4px 5px;
  }
  .text {
    width: 80%;
  }
  .btn-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .product-card {
    margin: 20px 30px;
    width: 300px;
    height: 340px;
  }
  .btn {
    margin: 5px;
  }
  .answer-container {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-areaAnswer {
    width: 280px;
    height: 380px;
    text-align: left;
  }
  .title-answer {
    margin: 2%;
    font-size: 17px;
  }
  .text-answer {
    font-size: 16px;
  }
  .btn-answer {
    margin: 10px;
    width: 100px;
    padding: 5px;
    font-size: 17px;
  }
  .direction {
    width: 30px;
    height: 30px;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  .btn-submit {
    font-size: 16px;
  }
  .goToInsta {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
  }
}
